@import "tailwindcss";

@theme {
  --animate-pulse-slow: pulse-slow 6s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  
  @keyframes pulse-slow {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #030712; /* Tailwind gray-950 */
    --foreground: #f9fafb; /* Tailwind gray-50 */
  }
}

html.dark {
  --background: #030712;
  --foreground: #f9fafb;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
